@{
    ViewData["Title"] = "Home Page";
}

@* two option one for the bartender to look at order, the other it to look at the menu *@
<a class="btn btn-outline-dark btn-block m-3" asp-action="Menu" asp-controller="Bar">Menu</a>
<a class="btn btn-outline-dark btn-block m-3" asp-action="Order" asp-controller="Order">Order</a>