@{
    ViewData["Title"] = "Home Page";
}


<a class="btn btn-outline-dark btn-block m-3" asp-action="Menu" asp-controller="Bar">Menu</a>
<a class="btn btn-outline-dark btn-block m-3" asp-action="Order" asp-controller="Order">Menu</a>