@model IEnumerable<Order>
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>

        table, th, td {
            border: 1px solid black;
        }
    </style>
@{
    var listofOrder = new List<Order>();

    foreach (var p in Model)
    {
        listofOrder.Add(p);
    }

    Order[] Order_Work = listofOrder.ToArray();
  Array.Sort(Order_Work, delegate (Order OR1, Order OR2)
    {
        return OR1.Time.CompareTo(OR2.Time);
    });
}
    <table style="width:100%">
        @foreach (var p in Order_Work)
        {
            if (p.FinishCheck == "Not")
            {
                <tr> <td>@p.DrinkName<br />@p.Time </td></tr> 

            }
        }


    </table>

